@import 'variables';

.footer-container {
    text-align: center;
    margin: auto 0 0;

    .footer {
        background-color: white;
        margin: 20px 0;
        border-radius: 10px;
        padding: 5px 20px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: auto;

        .text {
            font-size: 15px;
            margin-left: 15px;
        }

        .icon-container {
            .icon-button {
                margin: 7px;

                .icon {
                    padding: 3px;
                    color: white;
                }
            }

            .facebook {
                background-color: #1778f2;

                &:hover {
                    background-color: darken(#1778f2, 10);
                }
            }

            .instagram {
                background: radial-gradient(
                    circle at 30% 107%,
                    #fdf497 0%,
                    #fdf497 5%,
                    #fd5949 45%,
                    #d6249f 60%,
                    #285aeb 90%
                );

                &:hover {
                    background: radial-gradient(
                        circle at 30% 107%,
                        #fdf497 0%,
                        #fdf497 12%,
                        #fd5949 45%,
                        #d6249f 65%,
                        #285aeb 95%
                    );
                }
            }

            .youtube {
                background-color: red;

                &:hover {
                    background-color: darken(red, 10);
                }
            }

            .email {
                background-color: $primary-color;

                &:hover {
                    background-color: darken($primary-color, 10);
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer-container {
        .footer {
            flex-direction: column;

            & > * {
                margin-top: 3px;
                margin-bottom: 3px;
            }
        }
    }
}
