@import 'variables';

@font-face {
    font-family: llpixel;
    src: url(/LLPIXEL3.ttf);
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: url('https://firebasestorage.googleapis.com/v0/b/hack-tues.appspot.com/o/zalez.png?alt=media&token=9157c479-8d03-422f-8e7b-5de3a503d060');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.grecaptcha-badge {
    visibility: hidden;
}

.MuiLink-root {
    transition: 0.2s;
}
.MuiButton-root {
    text-transform: none;
    border-radius: 10px;
    transition: 0.1s;

    &.MuiButton-containedPrimary {
        color: white;
    }
}

a {
    text-decoration: none;
}

.archive {
    .archive-item {
        font-family: llpixel;
        padding: 13px 16px;

        sup {
            line-height: 0;
            position: relative;
            font-size: 11px;
            top: -2px;
        }
    }
    .hacktues,
    .hacktues2 {
        span {
            &:nth-child(1) {
                color: black;
            }

            &:nth-child(2) {
                color: #446576;
            }

            &:nth-child(3) {
                color: black;
            }
        }
    }

    .hacktues3 {
        background-color: #232323;

        span {
            &:nth-child(1) {
                color: white;
            }

            &:nth-child(2) {
                color: #09c0de;
            }

            &:nth-child(3) {
                color: #b2006e;
            }
        }
    }

    .hacktues30 {
        background-color: #232323;

        * {
            color: #21f9e5;
        }
    }

    .hacktues365 {
        background-color: #343a40;

        span {
            &:nth-child(1) {
                color: #d6c6ad;
            }

            &:nth-child(2) {
                color: #99d02b;
            }
        }

        sup {
            color: #99d02b;
        }
    }
}

.drawer {
    .MuiDrawer-paper {
        display: flex;
        align-items: center;
        background: white;
        color: black;

        .title {
            padding: 21px 15px;
            text-align: center;
            font-size: 30px;
            width: 100%;
            margin-top: 8px;

            span {
                font-family: llpixel, 'Helvetica', 'Arial', sans-serif;
                font-size: 25px;
                color: black;

                &:nth-child(2) {
                    color: $primary-color;
                }
            }
        }

        [class*='Navbar_link'] {
            padding: 5px 40px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 15px;
            }
        }

        & > span {
            height: 1px;
            width: 80%;
            margin: 20px 0px;
            background: linear-gradient(to left, white, black, white);
        }
    }
}

@media only screen and (min-width: 1024px) {
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        // background: #f1f1f1;
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
