@import 'variables';

.tshirts-card {
    .card-content {
        div {
            margin: 10px 0;
            font-size: 18px;
        }
    }
}

.emails-accordion {
    .accordion-details {
        display: flex;
        flex-wrap: wrap;
    }
}

.allergies-accordion {
    .accordion-details {
        display: flex;
        flex-direction: column;
        font-size: 18px;

        & > * {
            margin: 10px 0;
        }
    }
}

.csv-card {
    .card-actions {
        display: flex;
        flex-direction: column;

        button {
            width: 100%;
            margin: 5px 0;
        }
    }
}

.teams-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    width: 100%;

    .card {
        max-width: 350px;
        width: 100%;
        margin: 0 10px 15px;
        display: flex;
        flex-direction: column;

        .card-header {
            color: #303030;
            :global .MuiCardHeader-avatar {
                .MuiAvatar-root {
                    background-color: $secondary-color;
                }
            }
        }

        .card-content {
            color: #303030;
            padding-top: 10px;

            .data-container {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }

                :global .MuiTypography-root {
                    margin-bottom: 5px;
                }

                .tech {
                    margin: 2px 4px 2px 0;
                }
            }
        }

        .card-actions {
            padding: 16px;
            margin: auto 0 0;
        }
    }
}

.is-editing {
    background-color: #00e676;

    &:hover {
        background-color: darken(#00e676, 10);
    }
}
